/* Responsividade para celular */

@media (max-width: 600px) {
    .flex {
        flex-wrap: wrap;
    }

    header nav ul {
        display: none;
    }
    
    header .btn-contato {
        margin-top: 20px;
    }
    
    .topo-do-site h1 {
        font-size: 32px;
    }
    
    .topo-do-site .txt-topo-site p {
        font-size: 16px;
    }
    
    .especialidades .especialidades-box h3 {
        font-size: 24px;
    }
    
    .sobre .txt-sobre h2 {
        font-size: 28px;
    }
    
    .sobre .txt-sobre p {
        font-size: 14px;
    }
    
    .slider {
        height: 300px;
    }
    .navigation-auto {
        visibility: hidden;
        display: flex;
        justify-content: center;
    }
}